.title {
  display: inline-block;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #a1a1a1;
  text-align: center;
  font-size: 30px;
}

.link {
  display: inline-block;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  text-decoration: underline;
}
